@use "../util/" as u;

h1,
h2,
h3 {
  margin-top: 0;
  font-weight: 700;
  line-height: 1.1;
}

h1 {
  font-size: clamp(u.rem(28), 1.4859rem + 1.1268vw, u.rem(40));
}

h2 {
  font-size: clamp(u.rem(22), 1.0669rem + 1.3146vw, u.rem(36));
}

p {
  margin-top: 0;
  font-size: u.rem(16);
}

a,
a:visited,
a:active {
  text-decoration: none;
}
