@use "../util/" as u;

h1,
h2,
h3 {
  margin-top: 0;
  font-weight: 700;
  line-height: 1.1;
}

h1 {
  font-size: 28px;

  @include u.breakpoint(medium) {
    font-size: 36px;
  }

  @include u.breakpoint(large) {
    font-size: 42px;
  }
}

p {
  margin-top: 0;
}

a,
a:visited,
a:active {
  text-decoration: none;
}
